.form {
  flex-basis: 50%;
  height: 100%;
  background-color: var(--main-white);
  padding: 2% 4% 0;
  position: relative;
}

.steps {
  margin-bottom: 4%;
}

.item {
  margin-bottom: 3%;
}

.cityItem {
  margin-bottom: 0;
}

.white:hover {
  color: var(--main-white);
}

.ml-0 {
  margin-left: 0;
}

@media (max-width: 600px) {
  .form {
    flex-basis: 100%;
    height: 200px;
  }
}
