.menu {
  background: var(--main-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  width: 72%;
  top: 0px;
  right: 0;
  height: -webkit-fill-available;
  animation-name: slideLeft;
  animation-duration: 800ms;
}

@keyframes slideLeft {
  0% {
    width: 0;
  }
  100% {
    width: 72%;
  }
}

.menu__nav {
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.menu__icon {
  width: 10%;
  color: #ffffff;
}

.menu__list {
  list-style: none;
  color: var(--main-white);
}

.list__item {
  display: block;
  margin: 15rem;
  width: 39rem;
}

.list__item:hover {
  color: var(--main-color--dark);
}

.list__item>a {
  font-size: 5rem;
  font-weight: bold;
}

.logo {
  width: 80%;
  max-width: 156px;
  margin: 15rem;
}

.nav__link {
  padding: 4px 4px;
  text-decoration: none;
  color: #242424;
  font-size: 2rem;
}

.close__menu {
  background: transparent;
  border: none;
  outline: none;
  float: right;
  cursor: pointer;
  padding: 2rem;
}