.view {
  text-align: center;
}

.heading {
  font-family: var(--header-font);
  font-size: 3rem;
  font-weight: 500;
  padding: 1.5rem 0;
}

.content {
  font-family: var(--content-font);
  padding-bottom: 3rem;
}

.map {
  height: 500px;
  width: 100%;
}

.building__img {
  width: 90%;
  max-height: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 12px 12px 3px 3px;
}

.popup__content {
  padding: 1rem;
}

.building__city {
  font-weight: 600;
}

.building__title {
  font-weight: bold;
}

.building__extra {
  width: 100%;
  max-height: 5rem;
  font-size: 0.8rem;
  overflow: auto;
}

.ownerLocal {
  margin-left: 1rem;
}

.ownerLocal__active {
  color: var(--main-color--light);
}

.table {
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .heading {
    font-weight: bold;
    font-size: 4rem;
    margin-top: 1.5rem;
  }

  .approved__tag {
    font-weight: 400;
    font-size: 10px;
    padding: 0 4px;
    margin: 0;
  }

  .popup__content {
    padding: 1.5rem;
  }

  .building__extra {
    font-size: 2rem;
  }
}
