<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body 
style="
      padding: 0.5rem;
      width: 50%; 
      min-height: 40vh;">
       
  <div class="template"
       style="
        padding: 0.5rem;
        width: 100%; 
        min-height: 40vh; 
        font-family: 'Roboto';
        margin: auto 5rem;
        display: grid;
        background-color: rgb(248, 248, 248);
        grid-template-areas:
       'header header header '
       'main main main'
       'footer footer footer';
        color: #000F2E;">

      <header style="height: 0.1rem;grid-area: header;">
        <img src="http://who-owns-your-neighborhood.herokuapp.com/static/media/FNLogodarkV2.b67183a9.png" alt="logo"
          style="height: 4vh; margin: 0.5rem;">
      </header>

      <section style="
              grid-area: main; 
              color: #1E4766;
              width: 80%;
              margin: 0 auto;
              font-family: roboto;">

        <h1 style="text-align: center; font-size: 2rem;">Welcome </h1>

        <p style="font-size: 0.8rem; text-align: center;margin: 1.5rem;">
          You will be updated with all new emails and letters
        </p>

        <a style="
            border-radius: 0.2rem;
            background: #1E4766;
            cursor: pointer;
            padding: 0.5rem;
            margin-top: 3rem;
            margin-left: 11rem;
            font-size: 0.8rem;
            color: #fff;
            text-decoration: none;
            " href="http://who-owns-your-neighborhood.herokuapp.com/ " target="_blank">
          Go to website
        </a>
      </section>

      <footer style="grid-area: footer;height: 0.1rem;margin-top: 3rem;">
        <p style="
            font-family: roboto;
            font-size: 0.6rem;
            text-align: center;
            color: #1E4766;">
          Copyright © 2019 Far Nearer. All Rights Reserved.</p>
      </footer>
  </div>
</body>

</html>
